.mulita-main {
    background: rgb(203,212,205);
    background: linear-gradient(0deg, rgba(203,212,205,1) 0%, rgba(132,159,177,1) 30%, rgba(55,71,79,1) 100%);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.mulita-image {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
}

.main-text {
    text-align: center;
    justify-content: center;
    align-self: center;
    margin: auto;
}