<div class="mulita-main">

  <div class="mulita-image">
    <img class="image is-centered is-medium is-block" 
    src="../assets/mulita2.webp" alt="Logo"/>
  </div>

  <div class="main-text is-text">
    <h1 class="title is-1">¡Bienvenido!</h1>
    <h2 class="subtitle is-5">Pronto habrá novedades por aquí</h2>
    
    <button class="button is-danger is-medium is-outlined" (click)="addOne()">
      Like ❤
    </button>

    <div *ngIf="mostrarLikes">
      <h6 class="subtitle is-6">
        &nbsp;
      </h6>
      <h6 class="subtitle is-6 is-italic">
        {{likes}} {{heart}}
      </h6>
    </div>
    
  </div>
</div>
