/* You can add global styles to this file, and also import other style files */
html {
    background: rgb(203,212,205);
    background: linear-gradient(0deg, rgba(203,212,205,1) 0%, rgba(129,178,194,1) 35%, rgba(51,106,83,1) 100%);
}

@import "../node_modules/bulma/css/bulma.css";